
header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    background-image: -webkit-gradient();
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
    /* background-color: aliceblue; */
}
.mask{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: antiquewhite; */
}

.intro {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}

.box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    /* z-index: 100000; */
    /* left: 50%;
    transform: translateX(-50%); */
    /* background-color : bisque; */

}
/* =====================CTA==================== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ===================== HEADER SOCIALS ==================== */
.header__socials {
    margin-top: 2.5rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1.4rem;
    /* position: absolute; */
    /* bottom: 7rem;
    left: 49%; */
    font-size: 1.5rem;;
}

/* .header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
} */

/* =============== ME =========================== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* =================== scroll down ============= */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
   header {
        height: 68vh;
   }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
}
   

header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}






